footer.footer.container-fluid.bg-light.p-4
    .row.align-items-center
        // Cột 1: Giới thiệu website
        .col-md-6
            .d-flex.align-items-center.justify-content-center
                h5.ms-2.text-success Laptop14 - Chuyên cung cấp laptop chính hãng, giá tốt
            p.text-white Laptop14.vn là hệ thống bán lẻ laptop uy tín, chuyên cung cấp các dòng laptop chính hãng từ Dell, HP, Asus, Lenovo... với giá tốt nhất. Cam kết sản phẩm chất lượng, bảo hành chính hãng, hỗ trợ trả góp 0%.  

        // Cột 2: Theo dõi chúng tôi trên (Căn giữa)
        .col-md-6.d-flex.flex-column.align-items-center
            h6.text-danger.font-weight-bold.mb-2 Theo dõi chúng tôi trên:
            ul.list-unstyled.text-center
                li 
                    a(href="#" class="d-flex align-items-center justify-content-center") 
                        i(class="bi bi-facebook text-primary fs-4 me-2") 
                        | Facebook
                li 
                    a(href="#" class="d-flex align-items-center justify-content-center") 
                        i(class="bi bi-youtube text-danger fs-4 me-2") 
                        | Youtube
                li 
                    a(href="#" class="d-flex align-items-center justify-content-center") 
                        i(class="bi bi-twitter text-info fs-4 me-2") 
                        | Twitter

    p #{settingGeneral.copyright}