extends ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/product-layout
include ../../mixins/alert


block main 
    +alert-success(3000)
    +alert-error(3000)

    //- h1 Chat với Trợ lý ảo Leon
    //- div#chatbox
    //- input#message(type="text" placeholder="Nhập tin nhắn...")
    //- button#sendButton Gửi
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1  Trợ Lý Leo
    
                #chatbox
                
                form#chatForm
                    input#userInput(type="text" placeholder="Nhập tin nhắn..." required)
                    button(type="submit")
                        i.fa-solid.fa-paper-plane

     
    block script 
        script(type="module" src="/js/leon.js")
        
