mixin sidebar
    .sidebar
        .sidebar-box
            h3 Danh mục sản phẩm
            ul
                li: a(href="/products?category=laptop") Laptop
                li: a(href="/products?category=phone") Điện thoại
                li: a(href="/products?category=tablet") Máy tính bảng
                li: a(href="/products?category=accessories") Phụ kiện
