extends ../../layouts/default.pug
include ../../mixins/alert
include ../../mixins/box-head

block main 
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3
        .row 
            .col-12 
                +box-head("Thông tin cá nhân")